@import "sassy-gridlover";
@import "breakpoint-libsass";

// ---------------------------------------------------------------------------
// Dudestarter settings (not part of the import!)

$weightvalue: (
  thin:   200,
  light:  300,
  regular:  400,
  bold:   700,
  black:  900
);

@mixin type-weight($weight) {
    font-weight: map-get($weightvalue, $weight);
}

$scalevalue: (
    huge:        $sgl-base-font-size*$MAJOR_TENTH,
    xxlarge:     $sgl-base-font-size*$OCTAVE,
    xlarge:      $sgl-base-font-size*$MAJOR_SEVENTH,
    large:       $sgl-base-font-size*$MINOR_SEVENTH,
    medium:      $sgl-base-font-size*$GOLDEN_SECTION,
    base:        $sgl-base-font-size,
    normal:      $sgl-base-font-size/$PERFECT_FIFTH,
    small:       $sgl-base-font-size/$AUGMENTED_FOURTH,
    tiny:        $sgl-base-font-size/$PERFECT_FOURTH
);

@mixin type-scale($scale, $rem: true) {
	@include sassy-gridlover-body(map-get($scalevalue, $scale), $rem); 
}

/* Headings */

h1 { @include sassy-gridlover-heading(3, true); }
h2 { @include sassy-gridlover-heading(2, true); }
h3 { @include sassy-gridlover-heading(1, true); }
h4 { @include sassy-gridlover-heading(0, true); }
h5 { @include sassy-gridlover-heading(-1, true); }
h6 { @include sassy-gridlover-heading(-2, true); }

.tiny { @include type-scale(tiny); }
.small { @include type-scale(small); }
.normal { @include type-scale(normal); }
.base { @include type-scale(base); }
.medium { @include type-scale(medium); }
.large { @include type-scale(large); }
.xlarge { @include type-scale(xlarge); }
.xxlarge { @include type-scale(xxlarge); }
.huge { @include type-scale(huge); }

/* Font smoothing options */
body {
	font-smooth: always;
	font-smoothing: antialiased;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	-moz-osx-font-smoothing: grayscale;
}

p, ul, ol, dl, blockquote { 
  @include type-scale(base); 
}

small { 
  display: inline-block;
}

/* Mobile */
@include breakpoint(20em) {
  h1 { @include sassy-gridlover-heading(3, true); }
  h2 { @include sassy-gridlover-heading(2, true); }
  h3 { @include sassy-gridlover-heading(1, true); }
  h4 { @include sassy-gridlover-heading(0, true); }
  h5 { @include sassy-gridlover-heading(-1, true); }
  h6 { @include sassy-gridlover-heading(-2, true); }
  
  p, ul, ol, dl, blockquote { 
    @include rem('font-size', 20px);
  }

}

/* Tablet */
@include breakpoint(40em) {

}

/* Laptop */
@include breakpoint(60em) {

}

/* Desktop */
@include breakpoint(80em) {

}