// More: https://asiakas.dude.fi/dev/buttons/
.button,
a.button,
a.button:link,
a.button:visited {
  min-width: 150px;
  max-width: 250px;
  display: inline-block;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 33px;
  padding-right: 33px;
  border: 0;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-align: center;
  transition: .12s;

  // Additional settings:
  font-weight: bold;

  // text-transform: uppercase;
  letter-spacing: 0;
  background: $color__alt;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    background: darken($color__alt, 15%);
    color: darken(#fff, 15%);
    border-color: $color__alt;
  }

  &.button-border {
    border-width: 3px;
    border-style: solid;
    border-color: $color__alt;
    background-color: transparent;

    &:hover {
      color: $color__base;
      border-color: $color__base;
      background: $color__alt;
    }
  }

  &.button-white {
    color: #fff;
    border-color: #fff;

    &:hover {
      color: $color__base;
      border-color: #fff;
      background: #fff;
    }
  }
}
