//---------------------------------------------//
// Variables - Outline
// all variables...
// Docs - http://outlinecss.co.uk/get-started.html#variables
//---------------------------------------------//

// html
$html-font-base: 100%; // 16px
$font-base: 1rem; // 16px
$spacing: 1.5rem; // 24px

// Fonts
$font-primary: $font__base; // body font
$font-secondary: $font__text; // title font
$font-monospace: Monaco, Consolas, 'Lucida Console', monospace;

// Colours
$color-primary: $color__alt;
$color-secondary: $color__alt;
$color-tertiary: $color__alt;
$color-grey: $color__grey;
$color-grey-light: $color__grey-light;
$color-grey-dark: $color__grey-dark;

// Placeholder text colour
$placeholder-text: $color-grey;

// Button text color
$btn-text-color: #fff;
$btn-text-color-alt: $color-grey-dark;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px