// WordPress default search:

#searchform
{
    input[type='text']
    {
        float: left;

        color: $color__alt;
        border-width: 2px;
        border-style: solid;
        border-color: $color__alt;

        @include krem('padding', 12px);
        @include krem('margin-right', 5px);
    }
    input[type='submit'],
    input[type='button']
    {
        float: left;
    }
}