body,
button,
input,
select,
textarea {
	color: $color__base;
	font-family: $font__base;
}

@import "fontface";
@import "webfonts";
@import "headings";
@import "copy";

// Import Sassline base SCSS files in order so variables are read correctly.
@import "../../../../../bower_components/sassline/assets/sass/base/variables";
@import "../../../../../bower_components/sassline/assets/sass/base/modular-scale";
@import "../../../../../bower_components/sassline/assets/sass/base/mixins";
@import "../../../../../bower_components/sassline/assets/sass/base/typography";

// Import all SCSS modules without Sass globbing.
// Note: https://github.com/designbyjake/sassline/issues/27
@import "../../../../../bower_components/sassline/assets/sass/modules/footer";
@import "../../../../../bower_components/sassline/assets/sass/modules/globals";
@import "../../../../../bower_components/sassline/assets/sass/modules/header";

// Import knife mixins to use with sassline base
@import "knife/index";

// Font smoothing options
body, html * {
  font-smooth: always;
  font-smoothing: antialiased;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}