body,
button,
input,
select,
textarea {
	color: $color__base;
	font-family: $font__base;
}

// Import Pennman's mixin for Google Web Fonts.
// Note about libsass-compatibility: https://github.com/penman/Sass-Web-Fonts/issues/14
@import "../../../../../bower_components/sass-web-fonts/web-fonts";

// Import Sass-boilerplate font-face mixin for custom webfonts.
@import "fontface";

// Declare actual webfonts in use.
@import "webfonts";

// Underscores font setting files.
@import "headings";
@import "copy";

// Import SASS-rem.
@import "../../../../../bower_components/sass-rem/rem";
$rem-baseline: $font__size__base;

html {
	@include rem-baseline;
}

// Import Typographic
@import "../../../../../bower_components/typographic/scss/typographic";

// Typographic settings for dudestarter
$header-font-weight: 700;
$min-font: 18px;
$max-font: 20px;
$header-ratio: $golden;
@include typographic();

// Fix code line-height.
big, code, small, sub, sup {
  line-height: inherit;
}

// Font smoothing options
body, html * {
  font-smooth: always;
  font-smoothing: antialiased;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}