@charset 'UTF-8';

// Theme options
@import 'config';

// Structure, grid
@import '../../../../../bower_components/normalize-scss/normalize.scss';
@import '../../../../../bower_components/jeet/scss/jeet/index';
@import 'pure';

// Helpers
@import 'mixins';

// WordPress base stuff, alignments, accessibility
@import 'base';

// Typography, icons
@import '../../../../../bower_components/font-awesome/scss/font-awesome';
@import '../typography/typography';

// Navigation
@import '../navigation/navigation';

// Layout start
.container {
  @include center($max_width: $container-desktop, $pad: $defaultpadding);
}

@media (min-width: $responsivenav) {
  .header-container .site-header {
    @include span(1/6);
  }

  .nav {
    @include span(5/6);
  }
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $color__alt;
}

a:hover,
a:focus,
a:active {
  color: $color__base;
}

body {
  font-family: $font__text;
  padding: 0;
}

.header-container {
  position: relative;
  z-index: 100;
  overflow: visible;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $nav_bg;

  .container {
    position: relative;
  }

  .site-header {
    overflow: visible;

    .site-title {
      font-size: 0;
      line-height: 0;
      margin: 0;
      padding: 0;

      a {
        @include hiddentext();
        background-image: url('../images/logo.svg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;

        font-family: $font__text;
        display: inline-block;
        width: 66px;
        height: 50px;
        margin-right: 0;
        margin-left: 0;
        padding: 0;

        @media (max-width: $responsivenav) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .nav-toggle {
      @include rem('padding-left', 15px);
      @include rem('padding-top', 15px);
      position: absolute;
      margin-left: 0;
      top: 1px;
      left: 0;
      list-style: none;
      display: block;
      z-index: 100000;

      @media (min-width: $responsivenav) {
        display: none;
      }

      .burger-icon {
        @include burger(20px, 3px, 3px, #fff);
      }

      &.open .burger-icon {
        @include burger-to-cross;
      }
    }
  }
}

.site-main {
  @include rem('padding-top', 50px);
  @include rem('padding-bottom', 50px);
}

// --------------------------------------------------------------
// Page
// --------------------------------------------------------------
.content-area {
  background: #fff;
}

.shade {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: #444;
}

.slide {
  @include background-cover();
  @include rem('padding-top', $slidepadding);
  @include rem('padding-bottom', $slidepadding);
  position: relative;
  color: #fff;
  border: 0;
  background-color: #fff;

  .container {
    position: relative;
    z-index: 3;
  }

  h1,
  h2 {
    margin-top: 0;
  }

  &.slide-front,
  &.slide-page {
    background-image: url('../images/slide-default.jpg');

    h1,
    h2 {
      color: #fff;

      a {
        color: #fff;
      }
    }

    p {
      color: #fff;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// --------------------------------------------------------------
// Blog
// --------------------------------------------------------------
.entry-content {
  @include rem('margin-bottom', 50px);
  overflow: hidden;

  img {
    max-width: $container-desktop;
    height: auto;

    @media (max-width: $container-ipad) {
    width: 100%;
    height: auto;
    }
  }

  blockquote {
    @include rem('padding-left', 20px);
    color: #666;
    font-weight: regular;
    margin-left: 0;
    border-left: 5px solid $color__alt;
  }
}

.entry-title {
  @include rem('margin-bottom', 10px);
  line-height: 1.2;

  &:first-child {
    margin-top: 0;
  }

  a {
    color: $color__base;
  }
}

.entry-time {
  @include rem('margin-top', 20px);
  @include rem('margin-bottom', 30px);
  display: block;
  color: #bbb;
}

.post-meta {
  @include rem('margin-top', 50px);
  @include rem('margin-bottom', 50px);
  clear: both;

  .fa {
    @include rem('margin-right', 5px);
  }

  .cat a,
  .tags a,
  .reply-to-comment a {
    color: #777;
  }

  .cat a:hover,
  .reply-to-comment a:hover {
    color: #111;
  }

  .fa-tags {
    @include rem('margin-right', 8px);
    float: left;
  }

  .tags {
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
      @include rem('margin-right', 10px);
      @include rem('margin-bottom', 10px);
      @include rem('line-height', 20px);
      display: inline;
      float: left;
      margin-top: 0;
      margin-left: 0;

      a {
        @include rem('padding-top', 4px);
        @include rem('padding-bottom', 4px);
        @include rem('padding-left', 10px);
        @include rem('padding-right', 10px);
        display: inline-block;
        border-radius: 4px;
        background: #f0f0f0;

        &:hover {
          color: #111;
          background: #ddd;
        }
      }
    }
  }
}

// Archives & search
.archive-header {
  margin-top: 0;
}

.searchpage {
  article {
    @include rem('margin-bottom', 20px);
  }
}

// Footer
.site-footer {
  @include rem('padding', 20px);
  overflow: hidden;
  clear: both;
  margin: 0;
  background: $color__background_footer;

  p {
    padding: 0;
    margin: 0;
    overflow: auto;
    color: invert($color__background_footer);
  }
}

// --------------------------------------------------------------
// Comments
// --------------------------------------------------------------
// NOTE: It's meant to use Disqus Comment system with this theme, so these are abandoned placeholder styles:
.comment-respond {
  @include rem('margin-bottom', 30px);

  label {
    display: block;
    clear: both;
  }
}

.comment-reply-title {
  display: none;
}

.comment-author h3.author {
  float: left;
}

.comment-meta {
  display: block;
  clear: both;

  a {
    text-decoration: underline;
    color: #777;

    &:hover {
      text-decoration: none;
    }

  }

}

.comment-meta,
a.comment-time,
a:link.comment-time,
a:visited.comment-time,
.comment-time {
  @include rem('font-size', 16px);
  @include rem('line-height', 16px+7);
  @include rem('margin-top', 10px);
  @include rem('margin-left', 1px);
  font-family: $font__text;
  padding: 0;
  text-decoration: none;
  color: #999;
}

.ping-list {
  @include rem('margin-bottom', 40px);
  @include rem('font-size', 13px);
  color: #888;

  a {
    @include rem('font-size', 13px);
    color: #888;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  cite a {
    @include rem('margin-right', 15px);
  }

}

.comment-list {
  @include rem('margin-top', 20px);
  @include rem('margin-bottom', 20px);
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  .avatar {
    @include rem('margin-left', 20px);
    float: right;
    overflow: hidden;
  }

}

.comment-author img {
  border-radius: 50%;
}

.comments-wrap {
  text-align: left;
  background: #fff;

  ul,
  ol {
    text-align: left;
  }
}

.comment {
  @include rem('margin-top', 30px);
  @include rem('margin-bottom', 30px);
  @include rem('padding-top', 20px);
  @include rem('padding-bottom', 20px);
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

#commentform code {
  white-space: normal !important;
}

// Admin comments:
// .comment-author-admin .the-comment p, .comment-author-admin .the-comment a {
// color:#b75143 !important;
// }
// .comment-author-admin .the-comment blockquote {
// border-color:#b75143 !important;
// }
.comment-author-admin .the-comment a {
  text-decoration: underline;
}

.comment-author-admin .the-comment a:hover {
  text-decoration: none;
}

.the-comment blockquote {
  border-color: #999;
}

// Extra
.screen-reader-text {
  display: none;
}
