/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      .touch-button {
        margin-left: 10px;
        color: rgba($menutxt, 0.5);

        .navicon {
          @include rem('font-size', 18px);
          @include vertical-align();
          transform: translateY(-70%);
        }
      }

      &.current-menu-item {
        a {
          color: $menuactive;
        }
      }

      a {
        color: $menutxt;
        background: transparent;
        @include rem('padding-top', 13px);
        @include rem('padding-bottom', 13px);
        @include rem('padding-left', 20px);
        @include rem('padding-right', 20px);
        @include rem('font-size', 16px);
        @include rem('line-height', 22px);

        @media (max-width: $container-ipad) {
          @include rem('padding-left', 12px);
          @include rem('padding-right', 12px);
          @include rem('padding-top', 10px);
          @include rem('padding-bottom', 10px);
        }

        &:hover {
          color: $menuhover;
        }
      }

      /* Dropdown
        ------------------------------------ */
      &.item-with-ul,
      &.menu-item-has-children {
        margin: -1px;
        padding: 0;
        white-space: nowrap;
        overflow: visible;

        ul {
          @include rem('margin-top', 0);
          @include rem('padding-bottom', 5px);
          @include rem('padding-top', 5px);
          @include rem('padding-left', 15px);
          @include rem('padding-right', 15px);
          background: #000000;

          li {
            @include rem('margin-top', 5px);
            @include rem('margin-bottom', 5px);
            padding: 0;

            a {
              margin: 0;
              padding: 0;
              background: transparent;
            }
          }
        }
      }
    }
  }
}