#navicon {
    position:absolute;
    right:0;
    font-size: 2em;
    text-decoration: none;
    z-index: 9;
    padding:20px;
    display:block;
}

a#navicon {
	color:#ffffff;
}

#navicon.open { position:fixed; right:0; }
#navicon.open:hover { color: #e6e6e6; }
#fade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5; 
	display:none;
}

.nav ul {
	margin:0;
	padding:0;
}

.nav {
    position: fixed;
    height: 100%;
    top: 0;
    right: -250px;
    background: #111111;
    max-width: 250px;
    width: 100%;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.nav li {
    flex: 1;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width:100%;
}

.nav a {
	padding:20px;
	display:block;
	color:#ffffff;
	color:rgba(255,255,255,0.7);
    width:100%;
}

.nav a:hover, .nav a.current { background: #222222; }

#main-menu li {
	width:100%;
	float:none;
	display:block;
	padding:0;
	margin:0;
}

.menu-button {
    display:none;
}

.menu {
    max-height:100%;
}
.menu.opacity {
    @include opacity(1);
}